* {
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    
    background-image: url('https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
}

button {
    background: none;
    border: none;
    
}


input {
    text-align: center;
    padding: 15px 5px;
    width: 70%;
    background: none;
    border: 2px solid #ffffff;

    color: #ffffff;
}

label {
    padding: 15px;
    padding-bottom: 2px;
    margin-bottom: 5px;    
    font-size: 1.8rem;
}

a {
    display: inline-block;
    position: relative;
    
    margin-top: 30px;
    padding: 10px 30px;
    
    text-decoration: none;
    color: #00ffff;
    font-size: 1.3rem;
    font-variant: small-caps;

    overflow: hidden;
    transition: 0.2s;
}

.container {
    background-color: rgba(0, 0, 44, 0.8);
    box-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    text-align: center;


    width: 35vw;
    height: 50vh;

    color: #00ffff;
}

a:hover {
    color: rgba(0, 0, 44, 0.8);
    background-color: #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 10px #00ffff ;
    transition-delay: 0.25s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ffff);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 0.8s;
}

a span:nth-child(2)
{
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ffff);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 0.8s;
}

a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00ffff);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 0.8s;
}

a span:nth-child(4)
{
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00ffff);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.8s;
}





